
.Card{
    padding: 5%;
    text-align:center;
    vertical-align: middle;
    background-repeat: no-repeat;
    border-radius: 5px;


}

.activeCard {
    background-color: rgb(224, 132, 26) ;
}



.Card:hover{
    background-color:gold;
}