.cards{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap:5px;
  


}
/* .display{
  display:grid;
  grid-gap:5px;
  
} */
.dif{
  font-size:xx-large;
  color:indianred;
  ;
}

.button {
  background-color:rgba(209, 74, 74, 0.986);
  border: none;
  color: white;
  padding: 0.9% 5%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px;
  
}

.button:hover {
  background-color: rgb(251, 208, 199) ;
}

.button1 {
  border: none;
  color: white;
  padding: 5%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px;
  width: 100%;
  background-color:rgb(209, 74, 74, 0.986);
}



.button1:hover {
  background-color: rgb(251, 208, 199) ;
}

.button2 {
  border: none;
  color: white;
  padding: 1%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px;
  width: 25%;
  background-color:rgb(209, 74, 74, 0.986);
}

.button2:hover {
  background-color: rgb(251, 208, 199) ;
}

.main-button-container {
  justify-content: space-evenly;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 10%;
}


.second-button-container {
  justify-content: space-evenly;
  box-sizing: border-box;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 1%;
  margin: 0 auto;
}

.third-button-container {
  justify-content: space-evenly;
  box-sizing: border-box;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  margin: 0 auto;
}

.display-container {

  width: 80%;
  margin: 0;

}

.button-container{
  width:100%;
  vertical-align:bottom;
}


.container {
  display: grid;
  border:gray;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: minmax(min-content,100px) 4fr minmax(min-content,100px);
  grid-template-areas: 
    "header header header"
    "leftsidebar maincontent rightsidebar"
    "footer footer footer";
}

.grab{
cursor:grab;
}

.main-header {
  grid-area: header;
  display:flex;
  justify-content: center;
  align-items: center;


}


.main-leftsidebar {
  grid-area: leftsidebar;
  display: flex;

}

.main-rightsidebar {
  grid-area: rightsidebar;

}

.main-content {
  grid-area: maincontent;
  display: flex; 
  justify-content: center; 
  align-items: center;


}

.main-footer {
  grid-area: footer;
  display: flex; 
  justify-content: center; 
  align-items: center;
}


@media screen and (max-width:700px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(min-content,100px) minmax(min-content,50px) 1fr minmax(min-content,50px);
    grid-template-areas: 
      "leftsidebar"  
      "header"
      "maincontent"
      "footer";
  
  }


  .button2 {
    font-size: 9px;
  }

  
  .button1 {
    font-size: 10px;
    padding: 1%;
  }

  .button {
    font-size: 9px;

  }
}


