
.Card{
    top: 0;
    bottom: 0;
    padding-left: 1.5px;
    padding-right: 1.5px;
    padding-top: 1px;
    margin: 0;
    text-align:center;
    vertical-align: middle;
    /* background-image:url('./images/Diamond_Purple_GrayedOut_One.png'); */
    background-repeat: no-repeat;
    border-radius: 5px;


}

.active {
    background-color: rgb(224, 132, 26) ;
}



.Card:hover{
    background-color:rgb(224, 132, 26);
}