
.Card{
    padding: 5%;
    text-align:center;
    vertical-align: middle;
    /* background-image:url('./images/Diamond_Purple_GrayedOut_One.png'); */
    background-repeat: no-repeat;
    border-radius: 5px;


}

.active {
    background-color: rgb(224, 132, 26) ;
}



.Card:hover{
    background-color:rgb(224, 132, 26);
}