.main-container {
    display: grid;
    border:gray;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: minmax(min-content,100px) 4fr minmax(min-content,100px);
    grid-template-areas: 
      "header header header"
      "leftsidebar maincontent rightsidebar"
      "footer footer footer";
}



.main-header {
    grid-area: header;
    display:flex;
  
  
}
  
  
.main-leftsidebar {
    grid-area: leftsidebar;
    display: flex;
  
}
  
.main-rightsidebar {
    grid-area: rightsidebar;
  
}
  
.main-content {
    grid-area: maincontent;
}
  
.main-footer {
    grid-area: footer;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.main-button-container {
    justify-content: space-evenly;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 10%;
}


.button-container{
    width:100%;
    vertical-align:bottom;
}
  


.button1 {
    border: none;
    color: white;
    padding: 5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
    width: 100%;
    background-color:rgb(209, 74, 74, 0.986);
  }
  
  
  
.button1:hover {
    background-color: rgb(251, 208, 199) ;
}

.button.active {
    color:indianred;
}


.grab{
    cursor:grab;
}

.content-text{
    color:indianred;
}

.h4-text-color{
    color:indianred;
}

.active {
    background-color: indianred;
  
}
  

@media screen and (max-width:700px) {
    .main-container {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: minmax(min-content,100px) 1fr ;
      grid-template-areas: 
        "leftsidebar"  
        "maincontent";
    
    }
  

    
    .button1 {
      font-size: 10px;
      padding: 1%;
    }
  

  }
  
